# hide backup files
*~

# hide OS X cruft
.DS_Store

#hide paper
/paper
/paper.nick

# avoid committing build products 
# //comment out Tiancheng July 2018. This makes it easier to move plugins cross platform in a temporary directory. 
#*.plugin

*.o
*.obj

#note: some dlls might end up getting committed (git add -f!), at least temporarily, just to make progress on OS X and Windows faster
# in the long run, we should be dynamically building or at least retrieving libraries, not keeping personal copies around.
*.so
*.dylib
*.dll

*.lib
*.exp

*.log

# hide private files (copyrighted journal articles for reference, etc)
reference/
software/
devlog/
VMs/

remotes/
