# Aug2018: commented out Nick's line /dist  below 
# we want to track the dist folder, and all its subdirectory
# /dist

# hide my ancillary/ symlink hack
# shhhh, nothing to see here
/*.do
/*.dta
/*.csv
/*.svmlight
